html{
    /* overflow-y: hidden; */
}

/* LANDING */
#landing{
    height: 100vh;
}

#landing body{
background-color: white;
    width:100vw;
    height:100vh;
}
    
#landing .landing-container{
background-color: #F6E0BB;
    margin:0 4% 0 4%  ;
}

#landing .center-name{
font-family: Roboto;
    text-align: center;
    padding-top: 1px; 
    font-size: 8vw;
    margin-top: -100px;
    margin-bottom: 70px;
}

#landing .section-2{
    margin-top:4%;
}
#landing .nav-text{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
}

#landing .nav-text-head{
    margin: 30px;
}
#landing .center{
    display: block;
    margin-left: auto;
    margin-right: auto;
} 

#landing img{
    width: 150px;
    height: 50px;
}

#landing .right{
    display: block;
    margin-left: auto;
    margin-right: 0;
}


#landing #line{
    background-color: black;
    margin-left:150px;
    margin-right:150px;
    margin-bottom: 10px;

}

#landing .body-img{
    text-align: center;
    vertical-align: middle;
    
}

#landing .img_home{
    width:550px;
    height:585px;
}

#landing .text-black a{
    color:black;
}
#landing .navbar-toggler{
    background-color:transparent !important;
    border:1px solid black !important;
}

#landing .left-text{
    vertical-align: center;
    padding-right: 250px;
    margin-top:auto;
    margin-bottom: auto;
    top: 300px;
    font-size: 2vw;
    margin-left:40%;
}
#landing .right-text{
    position: relative;
    padding:8%;
    vertical-align: center;
    
    margin-top:auto;
    margin-bottom: auto;
    top: 200px;
    
    font-size: 2vw;
}

#landing .navbar-nav{
    margin: 0 40% 0 40%;
    font-family: Roboto;
    font-size: 1.5vw;
}

@media screen and (max-width:1200px){
    .section-2{
        margin-top:8%;
    }
    .center-name{
        margin-top:-50px;
    }
}
@media screen and (max-width:800px){
    .img_home{
        width:300px;
        height:auto;
    }
}
@media screen and (max-width:750px){
    .center-name{
        margin-top:-30px;
    }

    .img_home {
        width: 60px;
    }
}
@media screen and (min-width:768px){
    .navbar-brand-centered {
        position: absolute;
        left: 50%;
        display: block;
        width: 160px;
        text-align: center;
        background-color: #eee;
    }
    .navbar>.container .navbar-brand-centered, 
    .navbar>.container-fluid .navbar-brand-centered {
        margin-left: -80px;
    }
}


    
/* PROFILE */

#profile html{
    /* overflow-y: hidden; */
}

#profile body {
    background-color: white;
    width:100vw;
    height:100vh; 
}

#profile .edu-logo{
    height: auto;
    width: 400px;
    margin-top: -40px;
}

#profile .skills-logo{
    height: auto;
    width:300px;
}

#profile .logo-skills{
    margin-top:50px;
}

#profile .edu-logo-col{
    max-width: 200px !important;
    padding-left:80px !important;
}

#profile .bottom-edu{
    padding-left:-60px;
}

#profile .edu-text{
    margin-bottom: 20px;
}

#profile .center-logo{
    width: 150px;
    height: 50px;
}

#profile .bottom-item{
    margin-bottom: 100px;
}

#profile .landing-container{
    background-color: #F6E0BB;
    height:100%;
    margin-top: 30px;
}

#profile .center-name{
    font-family: Roboto;
    text-align: center;
    padding-top: 1px; 
    font-size: 8vw;
    margin-top: -100px;
    margin-bottom: 30px;
}

#profile .section-2{
    margin-top:4%;
}
#profile .nav-text{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
}

#profile .nav-text-head{
    margin: 30px;
}
#profile .center{
    display: block;
    margin-left: auto;
    margin-right: auto;
} 

#profile img{
    width: 200px;
    height: auto;
}


#profile #line{
    background-color: black;
    margin-left:150px;
    margin-right:150px;
    margin-bottom: 10px;

}


#profile .body-img{
    text-align: center;
    vertical-align: middle;
   
}

#profile .img_home{
    /* width:550px;
    height:555px; */
    width: auto;
    height: 555px;
}

#profile .text-black a{
    color:black;
}
#profile .navbar-toggler{
    background-color:transparent !important;
    border:1px solid black !important;
}

#profile .left-text{
    vertical-align: center;
    padding-right: 250px;
    margin-top:auto;
    margin-bottom: auto;
    top: 300px;
    padding-left:250px;
    font-size: 2vw;
    margin-left:40%;
}
#profile .right-text{
    position: relative;
    padding:8%;
    vertical-align: center;
 
    margin-top:auto;
    margin-bottom: auto;
    top: 200px;
  
    font-size: 2vw;
}

#profile .navbar-nav{
    margin: 0 40% 0 40%;
    font-family: Roboto;
    font-size: 1.5vw;
}


#profile .left-sub-item{
    width: 346px;
    margin-right:20px;
    margin-top:-70px;
}


#profile #margin_top_exp{
    margin-bottom: 10px;
}

#profile #margin_top_text{
    margin-top: -115px;
    margin-bottom:40px;
}

#profile .center-skills{
    margin-top: 40px;
}

#profile #margin_center_body{
    margin-top:60px;
    margin-bottom:600px;
    padding: 50px;
    margin-left: 10px;
}


#profile .bottom_text{
    margin-bottom: 100px;
}


#profile #margin_center_skills{
    margin-bottom: 150px;
    margin-top: 70px;
}

#profile #bottom_line{
    margin-top:-80px;
}

#profile img{
    vertical-align: center;
}

#profile .right-body{
    margin-bottom: 10px;
    margin-top: 20px;
    margin-right: 140px;
}
#profile .right{
    display: block;
    margin-left: auto;
}

#profile .border{
    border: 1px solid white !important;
    border-radius: 10px;
    background: white;
}

#profile #margin_bottom_item{
    margin-left: 130px;
    text-align: left;
}

#profile #margin_bottom_edu{
    margin-top: 10px;
    padding: 50px;
    margin-bottom:600px;
    margin-left: 10px;
}

#profile .bottom-exp{
    margin: 30px;
}

#profile .p{
    margin-top:40px;
}


#profile .top-text{
    font-size: 50px;
    margin-top: -60px;
}

#profile .bottom-text{
    margin-top:-30px;
}

#profile .top-exp{
    text-align: right;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding-right:4%;
    font-size: 60px;
    margin-top:-70px;
}

#profile .bottom-item{
    position: relative;
    padding:8%;
    vertical-align: center;
    margin-bottom: 80px;
    margin-left: 100px;
    color: black;
    font-size: 2vw;
}

#profile .left-body{
    padding-bottom: 10px;
    margin-top: -15px;
}

#profile body {
    background-color: white;
    width:100vw;
    height:100vh;
}


#profile #bottom_line{
    background-color: black;
    margin-left:150px;
    margin-right:150px;
    margin-bottom: 10px;
}

#profile .navbar-toggler{
    background-color:transparent !important;
    border:1px solid black !important;
}

#profile .navbar-nav{
    margin: 0 40% 0 40%;
    font-family: Roboto;
    font-size: 1.5vw;
}

/* EXPERIENCES */

#experiences html{
    /* overflow-y: hidden; */
}

#experiences .left-sub-item{
    width: 346px;
    margin-right:20px;
    margin-top:-70px;
}

#experiences .landing-container{
    background-color: #F6E0BB;
    height:71%;
    margin-top: 30px;
    width: 100%;
}

#experiences .achievement-logo{
    height:auto;
    width : 600px;
}

#experiences .experiences-logo{
    height: auto;
    width: 600px;
}

#experiences .center-logo{
    width: 150px;
    height: 50px;
}

#experiences #margin_top_exp{
    margin-top:-50px;
}

#experiences img{
    vertical-align: center;
}

#experiences .right-body{
    margin-bottom: 300px;
    margin-top: -30px;
    margin-right: 140px;
    margin-left: 10px;
}
#experiences .right{
    display: block;
    margin-left: auto;
}

#experiences .border{
    border: 1px solid white !important;
    border-radius: 10px;
    background: white;
}

#experiences #margin_bottom_item{
    margin-left: 130px;
    padding: 40px;
}

#experiences #margin_bottom_exp{
    margin: 0 0 30px 0;
    padding: 20px;
}

#experiences .bottom-exp{
    margin: 30px;
    margin-bottom:150px;
}

#experiences .p{
    margin-top:40px;
}

#experiences #margin_top_text{
    margin-top: -20px;
}

#experiences .top-text{
    font-size: 50px;
    margin-top: -60px;
}

#experiences .bottom-text{
    margin-top:-30px;
}

#experiences .top-exp{
    text-align: right;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding-right:4%;
    font-size: 60px;
    margin-top:-70px;
}

#experiences .bottom-item{
    position: relative;
    padding:8%;
    vertical-align: center;
    margin-bottom: 150px;
    margin-left: 100px;
    color: black;
    font-size: 2vw;
}

#experiences .left-body{
    padding-bottom: 10px;
    margin-top: -30px;
}

#experiences body {
    background-color: white;
    width:100vw;
    height:100vh;
}

#experiences .center-name{
    font-family: Roboto;
    text-align: center;
    padding-top: 1px; 
    font-size: 8vw;
    margin-top: -100px;
}

#experiences .section-2{
    margin-top:4%;
}
#experiences .nav-text{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
}

#experiences .nav-text-head{
    margin: 30px;
}

#experiences .center{
    display: block;
    margin-left: auto;
    margin-right: auto;
} 



#experiences #line{
    background-color: black;
    margin-left:150px;
    margin-right:150px;
    margin-bottom: 10px;
}
#experiences #bottom_line{
    background-color: black;
    margin-left:150px;
    margin-right:150px;
    margin-bottom: 10px;
    margin-top: -70px;
}

#experiences .body-img{
    text-align: center;
    vertical-align: middle;
   
}

#experiences .text-black a{
    color:black;
}
#experiences .navbar-toggler{
    background-color:transparent !important;
    border:1px solid black !important;
}

#experiences .navbar-nav{
    margin: 0 40% 0 40%;
    font-family: Roboto;
    font-size: 1.5vw;
}

#experiences body {
    background-color: white;
    width:100vw;
    height:100vh;
 

}


#experiences .section-2{
    margin-top:4%;
}
#experiences .nav-text{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
}

#experiences .nav-text-head{
    margin: 30px;
}
#experiences .center{
    display: block;
    margin-left: auto;
    margin-right: auto;
} 

#experiences img{
    width: 200px;
    height: auto;
}


/* Line */
#experiences #line{
    background-color: black;
    margin-left:150px;
    margin-right:150px;
    margin-bottom: 10px;

}

#experiences .body-img{
    text-align: center;
    vertical-align: middle;
   
}

#experiences .img_home{
    width:550px;
    height:555px;
}

#experiences .text-black a{
    color:black;
}
#experiences .navbar-toggler{
    background-color:transparent !important;
    border:1px solid black !important;
}

#experiences .left-text{
    vertical-align: center;
    padding-right: 250px;
    margin-top:auto;
    margin-bottom: auto;
    top: 300px;
    padding-left:250px;
    font-size: 2vw;
    margin-left:40%;
}
#experiences .right-text{
    position: relative;
    padding:8%;
    vertical-align: center;
 
    margin-top:auto;
    margin-bottom: auto;
    top: 200px;
  
    font-size: 2vw;
}

#experiences .navbar-nav{
    margin: 0 40% 0 40%;
    font-family: Roboto;
    font-size: 1.5vw;
}


/* CONTACT */

#contact html{
    /* overflow-y: hidden; */
}

#contact body {
    background-color: white;
    width:100vw;
    height:100vh;
}

#contact .landing-container{
    background-color: #F6E0BB;
    margin:0 4% 0 4%  ;
    height:90%;
}

#contact .center-name{
    font-family: Roboto;
    text-align: center;
    padding-top: 1px; 
    font-size: 8vw;
    margin-top: -100px;
}

#contact .section-2{
    margin-top:4%;
}
#contact .nav-text{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
}

#contact .nav-text-head{
    margin: 30px;
}
#contact .center{
    display: block;
    margin-left: auto;
    margin-right: auto;
} 

#contact img{
    width: 150px;
    height: 50px;
}


/* Line */
#contact #line{
    background-color: black;
    margin-left:150px;
    margin-right:150px;
    margin-bottom: 10px;

}

#contact .right{
    display: block;
    margin-left:auto; 
}

#contact .body-text{
    vertical-align: middle;
    margin-left: 200px;
}

#contact .body-img{
    text-align: center;
    vertical-align: middle;
    margin-right: 200px;
   
}

#contact .img_home{
    width:550px;
    height:555px;
}

#contact .text-black a{
    color:black;
}
#contact .navbar-toggler{
    background-color:transparent !important;
    border:1px solid black !important;
}

#contact .left-text{
    vertical-align: center;
    padding-right: 250px;
    margin-top:auto;
    margin-bottom: auto;
    top: 300px;
    padding-left:250px;
    font-size: 2vw;
    margin-left:40%;
}
#contact .left-text{
    position: relative;
    padding:8%;
    vertical-align: center;
 
    margin-top:auto;
    margin-bottom: auto;
  
    font-size: 2vw;
}

#contact .top-text{
    position: relative;
    padding:8%;
    vertical-align: center;
 
    margin-top:auto;
    margin-bottom: auto;
  
    font-size: 4vw;
}

#contact .bottom-text{
    position: relative;
    padding:8%;
    vertical-align: center;
 
    margin-top: -120px;
    margin-bottom: 20px;
  
    font-size: 2vw;
}

#contact .navbar-nav{
    margin: 0 40% 0 40%;
    font-family: Roboto;
    font-size: 1.5vw;
}



#comingsoon html{
    /* overflow-y: hidden; */
}

#comingsoon body {
    background-color: white;
    width:100vw;
    height:100vh;
}

#comingsoon .landing-container{
    background-color: #F6E0BB;
    margin:0 4% 0 4%  ;
    height:90%;
}

#comingsoon .center-name{
    font-family: Roboto;
    text-align: center;
    padding-top: 1px; 
    font-size: 8vw;
    margin-top: -100px;
}

#comingsoon .section-2{
    margin-top:4%;
}
#comingsoon .nav-text{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
}

#comingsoon .nav-text-head{
    margin: 30px;
}
#comingsoon .center{
    display: block;
    margin-left: auto;
    margin-right: auto;
} 

#comingsoon img{
    width: 150px;
    height: 50px;
}


/* Line */
#comingsoon #line{
    background-color: black;
    margin-left:150px;
    margin-right:150px;
    margin-bottom: 10px;

}

#comingsoon .right{
    display: block;
    margin-left:auto; 
}

#comingsoon .body-text{
    vertical-align: middle;
    margin-left: 200px;
}

#comingsoon .body-img{
    text-align: center;
    vertical-align: middle;
    margin-right: 200px;
   
}

#comingsoon .img_home{
    width:550px;
    height:555px;
}

#comingsoon .text-black a{
    color:black;
}
#comingsoon .navbar-toggler{
    background-color:transparent !important;
    border:1px solid black !important;
}

#comingsoon .left-text{
    vertical-align: center;
    padding-right: 250px;
    margin-top:auto;
    margin-bottom: auto;
    top: 300px;
    padding-left:250px;
    font-size: 2vw;
    margin-left:40%;
}
#comingsoon .left-text{
    position: relative;
    padding:8%;
    vertical-align: center;
 
    margin-top:auto;
    margin-bottom: auto;
  
    font-size: 2vw;
}

#comingsoon .top-text{
    position: relative;
    padding:8%;
    vertical-align: center;
 
    margin-top:auto;
    margin-bottom: auto;
  
    font-size: 4vw;
}

#comingsoon .bottom-text{
    position: relative;
    padding:8%;
    vertical-align: center;
 
    margin-top: -120px;
    margin-bottom: 20px;
  
    font-size: 2vw;
}

#comingsoon .navbar-nav{
    margin: 0 40% 0 40%;
    font-family: Roboto;
    font-size: 1.5vw;
}