{% load static %}
<html>
   <head>
      <meta name="viewport" content="width=device-width, initial-scale = 1">
      <title>iRabi's Website</title>
      <link rel="stylesheet" type="text/css" href="{% static 'css style/style.css' %}"/>
      <link rel="stylesheet" href="{% static 'css style/bootstrap/css/bootstrap.css' %}">
   </head>
   <body id="experiences">
        <header>
            <nav class="navbar text-black navbar-light navbar-expand-md bg-white justify-content-between">
                <div class="container-fluid">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".dual-nav">
                    <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="navbar-collapse collapse dual-nav w-50 order-1 order-md-0">
                        <ul class="nav navbar-nav mr-auto">
                            <li class="nav-item active">
                            <a class="nav-link pl-0" href="/">HOME<span class="sr-only">Home</span></a>
                            </li>
                            <li class="nav-item active" style="margin-left:20px">
                            <a class="nav-link" href="/profile">PROFILE</a>
                            </li>
                        </ul>
                    </div>
                    <a href="/comingsoon" class="navbar-brand mx-auto d-block text-center order-0 order-md-1 w-25">
                    <img src="{% static 'images/main_logo.png' %}" alt="Center Logo" class="center center-logo">
                    COMING SOON
                    </a>
                    <div class="navbar-collapse collapse dual-nav w-50 order-2">
                        <ul class="nav navbar-nav ml-auto">
                            <li class="nav-item active" style="margin-right:20px">
                            <a class="nav-link pl-0" href="/experiences">EXPERIENCES<span class="sr-only">Home</span></a>
                            </li>
                            <li class="nav-item active">
                            <a class="nav-link" href="/contact">CONTACT</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
            <div id = "line">
                <hr>
            </div>
        </header>
        <section>
            <div class="section-2">
                <div class="landing-container">
                <div class="row">
                    <div class = "center center-name">
                        EXPERIENCES
                    </div>
                </div>
                <div class="row">
                        <div class="landing-container">
                                <div class="row">
                                    <div class="col left-body">
                                        <div class="row top-item">
                                            <div class="col left-sub-item">
                                                <img src="{% static 'images/PAS FOTO edit.png' %}" alt="Pas Foto" class="right">
                                            </div>
                                            <div class="col right-sub-item">
                                                <div class="row top-text" id="margin_top_text">
                                                    <p>
                                                        Rabialco Argana
                                                    </p>
                                                </div>
                                                <div class="row bottom-text">
                                                    <p>
                                                        Computer Science Undergraduate <br>
                                                        at University of Indonesia
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row border bottom-item" id="margin_bottom_item">
                                            
                                            <h3>ACHIEVEMENTS</h3>
                                            <img src="{% static 'images/achievement.png' %}" alt="" class="achievement-logo">
                                        </div>
                                    </div>
                                    <div class="col border right-body">
                                        <div class="row center bottom-exp" id ="margin_bottom_exp">
                                            <h3>EXPERIENCES</h3>
                                            <img src="{% static 'images/experiences.png' %}" alt="" class="experiences-logo">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </body>
</html>


<!-- <h3>ACHIEVEMENTS</h3>
    <div class="row edu-text">
        <h4>Runner Up Business Plan Competition <br>
        </h4>
        <i>
            <h6>
                <br>
                <br>
                MX FEB UI <br>
                2018 <br>
            </h6>
        </i>
    </div>
    <div class="row edu-text">
        <h4>
            Distinction Score for Piano Exam <br>
        </h4>
        <i>
            <h6>
                <br>
                <br>
                ABRSM International <br>
                2015
            </h6>
        </i>
    </div>
    <div class="row edu-text">
        <h4>
            Completer <br>
        </h4>
        <i>
            <h6>
                <br>
                <br>
                KUMON <br>
                2011
            </h6>
        </i>
    </div> -->