{% load static %}
<html>
   <head>
      <meta name="viewport" content="width=device-width, initial-scale = 1">
      <title>iRabi's Website</title>
      <link rel="stylesheet" type="text/css" href="{% static 'css style/style.css' %}"/>
      <link rel="stylesheet" href="{% static 'css style/bootstrap/css/bootstrap.css' %}">
   </head>
      <body id ="landing">
         <header>
            <nav class="navbar text-black navbar-light navbar-expand-md bg-white justify-content-between">
               <div class="container-fluid">
                  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".dual-nav">
                  <span class="navbar-toggler-icon"></span>
                  </button>
                  <div class="navbar-collapse collapse dual-nav w-50 order-1 order-md-0">
                     <ul class="nav navbar-nav mr-auto">
                        <li class="nav-item active">
                           <a class="nav-link pl-0" href="/">HOME</a>
                        </li>
                        <li class="nav-item active" style="margin-left:20px">
                           <a class="nav-link" href="profile/">PROFILE</a>
                        </li>
                     </ul>
                  </div>
                     <a href="comingsoon/" class="navbar-brand mx-auto d-block text-center order-0 order-md-1 w-25">
                     <img src="{% static 'images/main_logo.png' %}" alt="Center Logo" class="nav_img center">
                     COMING SOON
                     </a>
                  <div class="navbar-collapse collapse dual-nav w-50 order-2">
                     <ul class="nav navbar-nav ml-auto">
                        <li class="nav-item active" style="margin-right:20px">
                           <a class="nav-link pl-0" href="experiences/">EXPERIENCES<span class="sr-only">Home</span></a>
                        </li>
                        <li class="nav-item active">
                           <a class="nav-link" href="contact/">CONTACT</a>
                        </li>
                     </ul>
                  </div>
               </div>
            </nav>
            <div id = "line">
               <hr>
            </div>
         </header>
         <section>
            <div class="section-2">
               <div class="landing-container">
                  <div class="row">
                     <div class = "center center-name">
                        RABIALCO ARGANA
                     </div>
                  </div>
                  <div class="row">
                     <div class="col body-text">
                        <a class="col left-text" href="profile/" style="color: black">
                        Profile↓
                        </a>
                     </div>
                     <div class="col body-img">
                        <img src="{% static 'images/photo_aing.png' %}" alt="My Photo" class="center img_home">
                     </div>
                     <div class="col body-text ">
                        <div class="right-text">
                           <h3>ABOUT ME ↓</h3>
                           <h6 style="margin-right:70px;">
                              <br>
                              They call me alco.
                              I'm a Computer Science Student in University of Indonesia.
                              My interest is anykind of thing about technology, sports, and photography.
                           </h6>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </section>
      </body>
   </head>
</html>