{% load static %}
<html>
   <head>
      <meta name="viewport" content="width=device-width, initial-scale = 1">
      <title>iRabi's Website</title>
      <link rel="stylesheet" type="text/css" href="{% static 'css style/style.css' %}"/>
      <link rel="stylesheet" href="{% static 'css style/bootstrap/css/bootstrap.css' %}">
   </head>
   <body id="profile">
      <header>
            <nav class="navbar text-black navbar-light navbar-expand-md bg-white justify-content-between">
                <div class="container-fluid">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".dual-nav">
                    <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="navbar-collapse collapse dual-nav w-50 order-1 order-md-0">
                        <ul class="nav navbar-nav mr-auto">
                            <li class="nav-item active">
                            <a class="nav-link pl-0" href="/">HOME<span class="sr-only">Home</span></a>
                            </li>
                            <li class="nav-item active" style="margin-left:20px">
                            <a class="nav-link" href="/profile">PROFILE</a>
                            </li>
                        </ul>
                    </div>
                    <a href="/comingsoon" class="navbar-brand mx-auto d-block text-center order-0 order-md-1 w-25">
                    <img src="{% static 'images/main_logo.png' %}" alt="Center Logo" class="center center-logo">
                    COMING SOON
                    </a>
                    <div class="navbar-collapse collapse dual-nav w-50 order-2">
                        <ul class="nav navbar-nav ml-auto">
                            <li class="nav-item active" style="margin-right:20px">
                            <a class="nav-link pl-0" href="/experiences">EXPERIENCES<span class="sr-only">Home</span></a>
                            </li>
                            <li class="nav-item active">
                            <a class="nav-link" href="/contact">CONTACT</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
            <div id = "line">
                <hr>
            </div>
        </header>
        <section>
            <div class="section-2">
                <div class="landing-container">
                    <div class="row">
                        <div class = "center center-name">
                            PROFILE
                        </div>
                    </div>
                    <div class="row bottom_item">
                        <div class="col left-body">
                            <div class="row top-item">
                                <div class="col left-sub-item">
                                    <img src="{% static 'images/PAS FOTO edit.png' %}" alt="Pas Foto" class="right" style="margin-bottom: -20px;">
                                </div>
                            </div>
                            <div class="row border bottom-item" id="margin_bottom_item">
                                <h3>SUMMARY</h3>
                                <h5>“Hello! I’m Alco. I’d Like to adapt at any circumstances.
                                    I love to work with people and get involve in any event,
                                    learn new experiences and take the positive thing from it.
                                    I have interests in photography, technology, and Sports.
                                </h5>
                            </div>
                        </div>
                        <div class="col border center_body" id = "margin_center_body">
                            <div class="row" id ="margin_top_text">
                                <div class="col-md-12 top-text">
                                    <p>
                                        Rabialco Argana
                                    </p>
                                </div>
                                <div class="col-md-12 bottom-text">
                                    <p>
                                        Computer Science Undergraduate <br>
                                        at University of Indonesia
                                    </p>
                                </div>
                            </div>
                            <div class="row center-skills">
                                <div class="row">
                                    <h3>SKILLS <br></h3>
                                </div>
                                <div class="row logo-skills">
                                    <img src="{% static 'images/skills.png' %}" alt="" class="skills-logo">
                                </div>
                            </div>
                        </div>
                        <div class="col border right-body" id ="margin_bottom_edu">
                            <div class="row">
                                <h3>
                                    EDUCATION <br>
                                    <br>
                                </h3>
                            </div>
                            <div class="row center bottom-edu">
                                <!-- <div class="col edu-logo-col">
                                    <div class="row">
                                        <img src="images/ui.png" alt="" class="edu-logo">
                                    </div>
                                    <div class="row">
                                        <img src="images/labsky.png" alt="" class="edu-logo">
                                    </div>
                                    <div class="row">
                                        <img src="images/labsky.png" alt="" class="edu-logo">
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="row edu-text">
                                        <h5>Universitas Indonesia <br>
                                        </h5>
                                        <i>
                                            Computer Science Undergraduate Program <br>
                                            2018 - Present <br>
                                        </i>
                                    </div>
                                    <div class="row edu-text">
                                        <h5>
                                            Labschool Kebayoran High School
                                        </h5>
                                        <i>
                                            High School Diploma - Science Major <br>
                                            2015-2018
                                        </i>
                                    </div>
                                    <div class="row edu-text">
                                        <h5>
                                            Labschool Kebayoran Junior High School
                                        </h5>
                                        <i>
                                            High Junior High School Diploma <br>
                                            2012-2015
                                        </i>
                                    </div>
                                </div> -->
                                <img src="{% static 'images/sekolah.png' %}" alt="" class="edu-logo">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </body>
</html>