{% load static %}
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale = 1">
        <title>iRabi's Website</title>
        <link rel="stylesheet" type="text/css" href="{% static 'css style/style.css' %}"/>
        <link rel="stylesheet" href="{% static 'css style/bootstrap/css/bootstrap.css' %}">
    </head>
    <body id="schedule">
        <header>
            <nav class="navbar text-black navbar-light navbar-expand-md bg-white justify-content-between">
                <div class="container-fluid">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".dual-nav">
                    <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="navbar-collapse collapse dual-nav w-50 order-1 order-md-0">
                        <ul class="nav navbar-nav mr-auto">
                            <li class="nav-item active">
                            <a class="nav-link pl-0" href="/">HOME<span class="sr-only">Home</span></a>
                            </li>
                            <li class="nav-item active" style="margin-left:20px">
                                <a class="nav-link" href="/profile">PROFILE</a>
                            </li>
                        </ul>
                    </div>
                    <a href="/comingsoon" class="navbar-brand mx-auto d-block text-center order-0 order-md-1 w-25">
                        <img src="{% static 'images/main_logo.png' %}" alt="Center Logo" class="center">
                        COMING SOON
                    </a>
                    <div class="navbar-collapse collapse dual-nav w-50 order-2">
                        <ul class="nav navbar-nav ml-auto">
                            <li class="nav-item active" style="margin-right:20px">
                            <a class="nav-link pl-0" href="/experiences">EXPERIENCES<span class="sr-only">Home</span></a>
                            </li>
                            <li class="nav-item active">
                            <a class="nav-link" href="/contact">CONTACT</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
            <div id = "line">
                <hr>
            </div>
        </header>
        <section>
            <div class="section-2">
                <div class="row landing-container">
                    <div class="col" style="max-width: 50%">
                        <hr style="color: black">
                        <form method="POST" style="margin: 0% 5% 0% 5%; padding-top: 2%">
                            {% csrf_token %}
                            {{ formulir }}
                            <div class="center-items" >
                                <input type="Submit" class="btn btn-primary" value="Tambah Jadwal" style="margin-top : 2%">
                            </div>
                        </form>
                        <hr>
                    </div>
                    <div class="col" style="max-width: 100%;">
                        <hr style="color: black;">
                        <div style="margin:6% 5% 5% 5%;">
                            {% for j in jadwal %}
                            <div class="row" style="margin-bottom: 2%">
                                <div class="col" style="margin-right : 2%;padding-bottom: 0%;max-width: 40%;">
                                    <p style="margin: auto 0% 5% 0%;display:block;">
                                        - {{ j.kategori }} - <br>
                                        {{ j.nama_kegiatan }}
                                        @ {{ j.tempat }} <br>
                                        {{ j.hari }},
                                        {{ j.tanggal }} - {{ j.waktu }}
                                    </p>
                                </div>
                                <div class="col" style="margin: auto 0% auto 0%;display:block;">
                                    <a href="{% url 'remove' pk=j.pk %}"><button class="btn btn-icon btn-danger"><i class="fa fa-trash"></i>Remove</button></a>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                        <hr>
                    </div>
                </div>
            </div>
        </section>
    </head>
</html>